/*Jeff Mitsou/MIU/week 2/1208*/

h1 {
	color: #5aae40;
	margin-bottom: 25px;
}

p {
	color: #1db80d;
	font-weight: bold;
	font-style: italic;
}

h2 {
	color: #5aae40;
}

#errors li{
	color: red;
}
a:link {
	color: #349810;
}

a:hover {
	color: #375c44;

}

body {
	color: #966c5e;
	background-color: #;
	font-size: 16px;
	opacity: 1;
}

fieldset {
	color: #366d3e;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	background-color: #d8f7dd;
	opacity: 1;
	border-color: #2023a7;
	border-style: solid;
	font-style: italic;
	line-height: 20px;
	width: 300px;
	margin-bottom: 20px;
	margin-top: 10px;
}

legend {
	font-style: italic;
	font-size: 28px;
	color: #528863;
}

label.formInputs {
	display: block;
	height: 25px;
	margin-top: 10px;
}

input#submit{
	margin: 20px;
	display: block;
}

label#read{
	display: block;
	margin-top: 20px;
}

#link{
	color: #000000;
}

li{
	list-style: none;
}

title{
	font-size: 16px;
}

#ucon p {
	color: #b41d1d;
	font-size: 20px;
}
