/*Jeff Mitsou/MIU/week 2/1208*/

h1 {
	color: #408dae;
	margin-bottom: 25px;
}

p {
	color: #35a8ac;
	font-size: 12px;
	text-align: left;
	text-shadow: 0 0 1px #ffffff;
}

#home ul li p {
	font-size: 7;
}

.back{
	float: right;
}

h2 {
	color: #055786;
	font-size: 20px;
}
a:link {
	color: #0cc1af;
}

a:hover {
	color: #0b7aa6;

}

body {
background-image: url(../img/tokyo-background.jpg);
background-repeat: no-repeat;
background-color: #000;
max-width: 100%;	
}

legend {
	font-style: italic;
	font-size: 28px;
	color: #0f5494;
}

label.formInputs {
	display: block;
	height: 25px;
	margin-top: 10px;
}

input#submit{
	margin: 20px;
	display: block;
}

label#read{
	display: block;
	margin-top: 20px;
}

#link{
	color: #000000;
}


title{
	font-size: 16px;
}

#link{
	color: #073e7e;
}

img#AD.ui-li-thumb{
	padding-top: 15px;
}

dt{
	color: #e0e0df;
	font-weight: normal;
	font-style: normal;
	text-shadow: 0 0 1px #ffffff;
}

dd{
	color: #ffffff;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	text-shadow: 0 0 1px #d1d1bb;
}

div.ui-collapsible-content{
	background-color: #5cb4bd;
}

label{
	color: #ffffff;
}

#res-Data h1{
	color: #ffffff;
	text-shadow: 0 0 1px #000000;
	font-size: large;
	margin-left: 100px;
}

input#tquery{
	color: #ffffff;
}

h1.ui-li-heading p.ui-li-desc{
	color: #ffffff;
}

#res-Data img.ui-li-thumb{
	margin-top: 13px;
	width: 69px;
	margin-left: 15px;
}

#res-Data li {
	border: none;
	font-size: 15px;
	text-shadow: 0 0 1px #ffffff;
	-moz-box-shadow: 0 0 1px #ffffff;
	-webkit-box-shadow: 0 0 1px #ffffff;
	box-shadow: 0 0 1px #ffffff;
	opacity: 1;
	border: 6px groove;
	visibility: visible;
	border-color: #2ca298;
	background-color: #02044e;
	padding: 10px;
	overflow: auto;
	margin-top: 30px;
}

h3#g{
	color: #ffffff;
	text-align: center;
}

#map{
	margin-top: 10px;
	margin-right: 30px;
	margin-left: 30px;
}

@media screen and (max-width: 480px) {#map {
		width: 375px;
		height: 500px;
		margin: 10px;
	}
}

li{
	list-style: none;
}

